<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoxModel</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/boxmodel.css" />
  </head>
  <body>
    <header>
      <h1>Box Model Concept in HTML:</h1>
    </header>
    <section class="first">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, sit?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, sit?
      </p>
    </section>
    <section class="closing-statement">
      <p>
        Inspect the above elements in dev tools and hover the mouse on the
        elements and you can see the box model with colors.
      </p>
    </section>
    <footer>
      <a href="/layout/layout_content.html">Layout Content</a><a href=""></a>
    </footer>
  </body>
</html>
