<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/exercise.css" />
  </head>
  <body>
    <header class="nav-bar">
      <article>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="#">Learning Paths</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </article>
    </header>
    <main>
      <div class="gallery">
        <img src="/layout/html_exercise_part2_imgs/austin-neill.jpg" />
        <img src="/layout/html_exercise_part2_imgs/casey-horner.jpg" />
        <img src="/layout/html_exercise_part2_imgs/ivan-guerrero.jpg" />
        <img src="/layout/html_exercise_part2_imgs/joseph-barrientos.jpg" />
        <img src="/layout/html_exercise_part2_imgs/karla-car.jpg" />
        <img src="/layout/html_exercise_part2_imgs/katherine-mccormack.jpg" />
        <img src="/layout/html_exercise_part2_imgs/michael-jerrard.jpg" />
        <img src="/layout/html_exercise_part2_imgs/pietro-de-grandi.jpg" />
        <img src="/layout/html_exercise_part2_imgs/ron-dauphin.jpg" />
      </div>
    </main>
    <footer class="back_to_previous">
      <a href="/layout/layout_content.html">Layout Content</a>
    </footer>
  </body>
</html>
