<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flexbox</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/flexbox.css" />
    <link rel="stylesheet" href="/back_btn_first_p.css" />
  </head>
  <body>
    <header>
      <h1>Flexbox in HTML:</h1>
    </header>
    <main>
      <article>
        <p>
          Flexible Box Layout(Flebox): It is used for laying out elements in one
          direction, in a row or column. It is a lot easier and powerful than
          floats.
        </p>
      </article>
      <div class="container">
        <div class="box box-one">A</div>
        <div class="box">B</div>
        <div class="box">C</div>
        <div class="box">D</div>
        <div class="box">E</div>
        <div class="box">F</div>
        <div class="box">G</div>
        <div class="box">H</div>
        <div class="box">I</div>
        <div class="box">J</div>
        <div class="box">K</div>
        <div class="box">L</div>
        <div class="box">M</div>
        <div class="box">N</div>
        <div class="box">O</div>
        <div class="box">P</div>
        <div class="box">Q</div>
        <div class="box">R</div>
        <div class="box">S</div>
        <div class="box">T</div>
        <div class="box">U</div>
        <div class="box">V</div>
      </div>
    </main>
    <footer class="back_to_previous">
      <a href="/layout/layout_content.html">Layout Content</a>
    </footer>
  </body>
</html>
