<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floating</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/floating.css" />
  </head>
  <body>
    <header><h1>Floating in HTML:</h1></header>
    <main>
      <article class="tweet clearfix">
        <div class="avator"></div>
        <p class="bordered">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas totam
          nisi explicabo nihil est impedit quasi assumenda asperiores
          repudiandae blanditiis!
        </p>
        <p class="clear">
          In HTML and CSS, the concept of "floating" is used to position
          elements within a container. When you float an element, you're
          essentially taking it out of the normal flow of the document and
          positioning it to the left or right within its containing element.
        </p>
        <p class="clear">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolor
          aliquam omnis animi necessitatibus sed iusto. Exercitationem illum
          fugit culpa adipisci cupiditate eius doloremque porro dolorum laborum!
          Minus, quam ullam. Repellat nemo veritatis delectus tempore facilis
          facere a veniam eligendi. Quaerat nisi deserunt dolore, dignissimos
          tempora nam repudiandae nihil doloremque?
        </p>
      </article>
    </main>
  </body>
</html>
