<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/grid.css" />
    <link rel="stylesheet" href="/layout/css/back_btn_first_p.css" />
  </head>
  <body>
    <header><h1>Grid in html and css:</h1></header>
    <main>
      <article>
        <p class="first">
          In HTML and CSS, a grid system is a layout mechanism used to structure
          the content of a web page into columns and rows. This allows for
          precise control over the placement and alignment of elements on the
          page. Grid systems are commonly used for creating responsive designs
          that adapt to different screen sizes and devices.
        </p>
      </article>
      <div class="container">
        <div class="box">A</div>
        <div class="box">B</div>
        <div class="box">C</div>
        <div class="box">D</div>
      </div>
    </main>
    <footer class="back_to_previous">
      <a href="/layout/layout_content.html">Layout Content</a>
    </footer>
  </body>
</html>
