<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiding Elements</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/hiding_elements.css" />
    <link rel="stylesheet" href="/layout/css/back_btn_first_p.css" />
  </head>
  <body>
    <header>
      <h1>Hide element with display or visibility property:</h1>
    </header>
    <main>
      <article>
        <p class="first-para">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
          eum dolores eligendi nisi nobis ut ipsum numquam error mollitia
          beatae.
        </p>
      </article>
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis,
          nobis.
        </p>
      </article>
    </main>
    <footer class="back-to-previous">
      <a href="/layout/layout_content.html">Layout Content</a>
    </footer>
  </body>
</html>
