<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Queries</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/media_queries.css" />
    <link rel="stylesheet" href="/layout/css/back_btn_first_p.css" />
  </head>
  <body>
    <header>
      <h1>Media Queries in HTML and CSS</h1>
    </header>
    <main>
      <article>
        <div class="container">
          <div class="box">
            <p>
              With media queries we can provide different styles for different
              devices depending on their features such as screen size,
              orientation and so on. So with this we can build website for
              mobile phone, tablets, and desktop computers. We call this website
              responsive website because they respond to various screen sizes.
            </p>
          </div>
          <div class="box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
              mollitia! Repudiandae quaerat delectus ut perspiciatis blanditiis
              accusamus, error asperiores eius ea alias ratione sit autem soluta
              molestiae? Enim, aliquid. Aliquid placeat temporibus eaque maiores
              impedit nemo id qui molestiae commodi! Dignissimos fugiat aliquam.
            </p>
          </div>
        </div>
      </article>
    </main>
    <footer>
      <div class="back_to_previous">
        <a href="/layout/layout_content.html">Layout Content</a>
      </div>
    </footer>
  </body>
</html>
