<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Mesurement Units</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/mesurement_units.css" />
  </head>
  <body>
    <header>
      <h1>Mesurement Units in HTML:</h1>
    </header>
    <main>
      <secction>
        <article>
          <p>
            So far we measure the element with pixel. But there are others
            mesurement unites as well and they fall in to two catagories,
            Absolute and Relative.
          </p>
          <p>
            1. Absolute units are always fixed, the value does not change. Example are:
            <ul>
              <li>a. px(pixel)</li>
              <li>b. pt(point)</li>
              <li>c. in(Inch)</li>
              <li>d. cm, mm and so on. The cm and mm are used in priting not in web.</li>
            </ul>
            2. Relative units are someting else like:
            <ul>
              <li>a. % that relative to the size of container.</li>
              <li>b. vw and vh which are relative to size of the viewport.</li>
              <li>c. em and rem which are relative to the font size.</li>
            </ul>
          </p>
        </article>
      </secction>
      <section>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </section>
    </main>
    <footer><a href="/layout/layout_content.html">Layout Content</a></footer>
  </body>
</html>
