<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overflowing</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/overflowing.css" />
    <link rel="stylesheet" href="/back_btn_first_p.css" />
  </head>
  <body>
    <header><h1>Overflowing concept in HTML:</h1></header>
    <main>
      <section>
        <article class="first">
          <p>
            In HTML and CSS, the concept of overflowing occurs when the content
            within an element exceeds the dimensions set for that element. This
            typically happens when content is larger than its container, either
            in terms of width, height, or both.
          </p>
        </article>
      </section>
      <section>
        <div class="box">
          <p>
            In flexbox and grid layouts, the overflow behavior can be controlled
            at both the container and item level. Flex containers and grid
            containers have their own overflow properties, while individual flex
            items or grid items can have their own overflow behavior controlled
            using the same properties.
          </p>
        </div>
      </section>
    </main>
    <footer class="back_to_previous">
      <a href="/layout/layout_content.html">Layout Content</a>
    </footer>
  </body>
</html>
