<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Positioning Elements</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/positioning.css" />
    <link rel="stylesheet" href="/layout/css/boxmodel.css" />
  </head>
  <body>
    <header><h1>Positioning Element:</h1></header>
    <main>
      <section>
        <article class="first">
          <p>
            Positioning elements in HTML and CSS is essential for creating
            layouts and designing web pages. There are several methods to
            position elements, each with its own advantages and use cases.
          </p>
        </article>
      </section>
      <section>
        <div class="boxes">
          <div class="box box-one"></div>
          <div class="box box-two"></div>
          <div class="box box-three"></div>
        </div>
      </section>
    </main>
    <footer><a href="/layout/layout_content.html">Layout Content</a></footer>
  </body>
</html>
