<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sizing Elements</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/sizing_elements.css" />
    <link rel="stylesheet" href="/layout/css/boxmodel.css" />
  </head>
  <body>
    <header>
      <h1>Sizing Elements in HTML:</h1>
      <section class="first">
        <p>
          In HTML, "sizing elements" refers to the process of determining the
          dimensions (width and height) of various elements on a web page. It
          involves specifying how much space an element should occupy in terms
          of width, height, or both.
        </p>
      </section>
    </header>
    <main id="sizing-elem">
      <section class="boxes">
        <span class="box"></span><span class="box"></span>
      </section>
    </main>
    <footer><a href="/layout/layout_content.html">Layout Content</a></footer>
  </body>
</html>
