<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sizing Elements</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/layout/css/sizing_elements.css" />
    <link rel="stylesheet" href="/layout/css/boxmodel.css" />
    <link rel="stylesheet" href="/back_btn_first_p.css" />
  </head>
  <body>
    <header>
      <h1>Sizing Elements in HTML:</h1>
    </header>
    <main id="sizing-elem">
      <section>
        <article class="first">
          <p>
            In HTML and CSS, the concept of overflowing occurs when the content
            within an element exceeds the dimensions set for that element. This
            typically happens when content is larger than its container, either
            in terms of width, height, or both.
          </p>
        </article>
      </section>
      <section class="boxes">
        <span class="box"></span><span class="box"></span>
      </section>
    </main>
    <footer class="back_to_previous">
      <a href="/layout/layout_content.html">Layout Content</a>
    </footer>
  </body>
</html>
