body {
  margin: 10px;
}

/* Box model: */
p {
  padding: 10px 20px;
  border: 10px solid red;
}

.first p {
  padding: 0;
  margin: 10px;
  border: none;
  width: 80ch;
}

/* layout-content-page: */
table, td, th {
  border: 1px solid #c4dcf3;
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  padding-right: 100px;
}

th {
  background-color: #427fef;
  color: white;
}

tr:nth-child(odd) {
  background-color: #eef7ff;
}

.closing-statement p {
  border: none;
  color: blue;
}