body {
  margin: 10px;
}

p {
  padding: 0;
  border: none;
  width: 80ch;
}

.avator {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 0.5rem;
}

.clear {
  clear: both;
}

.tweet {
  border: 3px solid gray;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.back_to_previous {
  padding: 0;
  margin-top: 10px;
}
