body {
  margin: 10px;
  height: 200vh;
}

.boxes {
  border: 3px solid goldenrod;
  position: relative;
}

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background: gold;
  position: absolute;
  right: 0;
  bottom: 0;
}

.box-two {
  background: tomato;
  position: relative;
  left: 4rem;
  bottom: 4rem;
  z-index: -1;
}

.box-three {
  background: greenyellow;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  width: auto;
}
